<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" testdox="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Domains/Context/BankAccount</directory>
            <directory suffix=".php">Domains/Context/BankAccountOperations</directory>
        </include>
        <exclude>
            <directory suffix=".php">Domains/Context/BankAccount/Infrastructure</directory>
            <directory suffix=".php">Domains/Context/BankAccount/Application/EventHandlers</directory>
            <directory suffix=".php">Domains/Context/BankAccountOperations/Infrastructure</directory>
            <directory suffix=".php">Domains/Context/BankAccountOperations/Application/EventHandlers</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="BankAccount">
            <directory suffix="Test.php">./tests/Context/BankAccount</directory>
        </testsuite>
        <testsuite name="BankAccountOperations">
            <directory suffix="Test.php">./tests/Context/BankAccountOperations</directory>
        </testsuite>
        <testsuite name="BankSystem">
            <directory suffix="Test.php">./tests/Context/BankSystem</directory>
        </testsuite>
    </testsuites>
</phpunit>